.login {
    display: flex;
    flex-direction: column;
    margin-left: 100%;
    margin-top: 15rem;
}



.login_or_register {
    display: flex;
    place-content: center;
    gap: 2rem;

    button {
        padding: 0.4rem;
        background: none;
        transition: all 0.5s ease-in-out;

        &:hover {
            box-shadow:  0 2px 0 0px #fff;
        }
    }
}