.profile_navigation {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-left: 2rem;

  .posts {
    margin-left: -5rem;
    margin-top: -3rem;
  }

  .comments {
    .usersComments {
      margin-top: 3rem;

      .commentUsername {
        font-size: 1.1rem;
        font-weight: bold;
      }

      .commentText {
        font-size: 1rem;
        margin-top: 0.5rem;
        color: grey;
      }
    }
  }

  .likedPosts {
    margin-left: -5rem;
    margin-top: -3rem;
  }
}
