.imageCarusel {
    height: 23.75rem;
    width: 36.25rem;
    position: relative;
    overflow: hidden;
    background-color: var(--more-black);

    .images {
        transition: all 0.5s ease;
        height: 23.75rem;
        display: flex;

        
        > img {
            min-width: 580px;
            max-width: 580px;
            object-fit: contain;
        }
    }
    
    .arrow {
        position: absolute;
        cursor: pointer;
        z-index: 20;
        top: 0;

        transition: all 0.3s ease-in-out;
        opacity: 0;

        display: flex;
        align-items: center;
        height: 100%;
        width: 5rem;
        padding: 0 1rem;

        > img {

            width: 1rem;
            padding: 0.3rem;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(5px);   
        }
    }
    
    .arrowRight {
        right: 0;
        justify-content: flex-end;

        > img {
            transform: rotate(180deg);
        }
    }

    &:hover {
        .arrow {
            opacity: 1;
        }

        .images {
            filter: brightness(0.8);
        }
    }
}